nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    min-height: 10vh;
    background: $color-blue;
    

    .logo {
        
        .logo-img1 {
            width: 200px;
            margin-left: 30px;
        }

        .logo-img2 {
            width: 60px;
            margin-left: 30px;
        }
    }

    .burger {
        display: none;
        margin-right: 30px;
        .line {
            width: 25px;
            height: 4px;
            margin-bottom: 5px;
            background: white;
        }
    }

    .nav-links {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .--border {
            border: solid white 2px;
            height: 50px;
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            transition: all 0.2s;
            margin-right: 20px;

            &:hover {
                transform: scale(1.05);
                background: white
            }

            &:hover a{
                
                    text-decoration: none;
                    color: $color-blue;     
            }

            a {
                font-weight: 700;
            }
        }
    }
}

@media screen and(max-width: 1200px ) {
    nav {
        
    
        .logo {
            
        }
    
        .burger {
            display: none;
            .line {
                width: 25px;
                height: 4px;
                margin-bottom: 5px;
                background: white;
            }
        }
    
        .nav-links {
            width: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
    
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media screen and(max-width: 1100px ) {
    nav {
        
    
        .logo {
            .logo-img1 {
                width: 150px;
                margin-left: 30px;
            }
    
            .logo-img2 {
                width: 40px;
                margin-left: 30px;
            }
        }
     
        .nav-links {
            width: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
    
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media screen and(max-width: 925px ) {
    body {
        overflow-x: hidden;
    }
    nav {
        height: 10vh;
    
        .logo {
            
        }
    
        .burger {
            display: none;

            .line {
                width: 25px;
                height: 4px;
                margin-bottom: 5px;
                background: white;
                transition: all 0.3s ease-in-out;
            }
        }
    
        .nav-links {
            position: absolute;
            right: 0;
            height: 100vh;
            top: 0vh;
            background: $color-blue;
            width: 50%;
            padding: 100px 0px;
            z-index: 5;

            flex-direction: column;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
    
            li {
                opacity: 0;
                transition: 1s ease-in;
                
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }
            }
        }

        .burger {
            display: block;
            cursor: pointer;
            z-index: 7;
            
        }

        .nav-active {
            transform: translateX(0%);
            

            li {
                opacity: 1;
            }
            
        }

        .toggle {
            .l1 {
                transform: rotate(-45deg) translate(-6px, 6px);
            }

            .l2{
                opacity: 0;
            }

            .l3 {
                transform: rotate(45deg) translate(-6px, -7px);
            }
        }  
    }

   

  
}