// Colors //
$color-blue: #31357A;
$color-orange: #EF8E32;
$color-grey: #888B8C;

//Fonts //
$font-family-0: verdana;
$font-family-1: san-serif;

//Font Size //
$XXL: 70px;
$XL: 50px;
$X: 40px;
$L: 30px;
$M: 25px;
$S: 20px;
$XS: 16px;

h2 {
    font-size: 35px;
}



